{% extends 'base.html' %}

{% block title %}
Информация о направлении, его особенностях
{% endblock %}

{% block body_title %}
<h1>Информация о направлении, его особенностях</h1>
{% endblock %}


{% block body_content_from_main %}
<div class="row">
    <div class="cols col s12">
        <div class="card teal darken-4">
            <div class="card-content white-text">
                <span class="card-title">SEO</span>
                <p>
                    SEO курсы предназначены для тех, кто хочет научиться продвигать сайты в поисковых системах Google,
                    Yandex и других. Обучение проводится экспертами в этом направлении и включает в себя изучение
                    технической и контентной оптимизации, внешнего и внутреннего ссылочного профиля, работу с аналитикой
                    и
                    другие аспекты SEO. Курсы могут быть как онлайн, так и оффлайн, в зависимости от формата обучения и
                    выбора студента. Результатом обучения должны стать умения и навыки в области SEO, которые помогут
                    увеличить видимость сайта в поисковых системах и привлечь больше клиентов или посетителей на сайт.
                </p>
            </div>
            <div class="card-action">
                <a href="#" class="light-green-text">Ознакомиться с программой</a>
            </div>
        </div>
    </div>
    <div class="cols col s12 m4">
        <div class="card teal darken-4">
            <div class="card-content white-text">
                <span class="card-title">WEB ДИЗАЙН</span>
                <p>
                    Курсы по веб-дизайну - это обучение основам создания веб-страниц и сайтов, включая работу с
                    различными
                    утилитами и языками программирования. Они обычно включают в себя элементы графического дизайна,
                    создание
                    макетов, знакомство с фреймворками, HTML, CSS, JavaScript, а также программное обеспечение для
                    создания
                    сайтов и бэкэнд-технологий.
                </p>
            </div>
            <div class="card-action">
                <a href="#" class="light-green-text">Ознакомиться с программой</a>
            </div>
        </div>
    </div>
    <div class="cols col s12 m4 ">
        <div class="card teal darken-4">
            <div class="card-content white-text">
                <span class="card-title">Frontend</span>
                <p>
                    Frontend курсы предназначены для тех, кто хочет научиться создавать высококачественные
                    веб-приложения. Фронтенд разработка очень важна для создания веб-сайтов и приложений, так как это
                    отвечает за то, каким образом пользователи будут взаимодействовать с сайтом.
                </p>
            </div>
            <div class="card-action">
                <a href="#" class="light-green-text">Ознакомиться с программой</a>
            </div>
        </div>
    </div>
    <div class="cols col s12 m4">
        <div class="card teal darken-4">
            <div class="card-content white-text">
                <span class="card-title">Backend</span>
                <p>
                    Backend курсы являются специализированными обучающими программами, которые предназначены для
                    практического и теоретического изучения разработки серверной части веб-приложений. Курсы обычно
                    предоставляют полный пакет знаний, навыков и технических умений, необходимых для создания,
                    обслуживания и управления веб-приложениями, работающими на сервере.
                </p>
            </div>
            <div class="card-action">
                <a href="#" class="light-green-text">Ознакомиться с программой</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}