{% extends 'base.html' %}

{% block title %}
Образовательные модули
{% endblock %}

{% block body_title %}
<h2>Образовательные модули</h2>
{% endblock %}


{% block body_content_from_main %}

<div>
    <div>
        <div class="section">
            <h3>SEO</h3>
            <ul class="collapsible expandable">
                <li class="accordion">
                    <div class="collapsible-header">Влияние темы на развитие ученика</div>
                    <div class="collapsible-body"><span>Тема SEO курса может оказать позитивное влияние на развитие
                            ученика, поскольку это поможет
                            расширить кругозор и улучшить профессиональные навыки в сфере интернет-маркетинга и
                            продвижения
                            веб-сайтов. Знания, полученные в SEO курсе, помогут ученику разобраться в таких важных
                            аспектах,
                            как ключевые слова, оптимизация контента, сео аналитика, ссылочное продвижение и других
                            важных
                            факторах, влияющих на ранжирование сайта в поисковых системах. Эта информация может быть
                            полезной в профессиональной деятельности ученика, а также может помочь укрепить его
                            позиции в
                            своей отрасли и повысить уровень его доходов в будущем.</span></div>
                </li>
                <li class="accordion">
                    <div class="collapsible-header">Описание модуля</div>
                    <div class="collapsible-body"><span>SEO курсы предназначены для тех, кто хочет научиться
                            продвигать сайты в поисковых системах
                            Google,
                            Yandex и других. Обучение проводится экспертами в этом направлении и включает в себя
                            изучение
                            технической и контентной оптимизации, внешнего и внутреннего ссылочного профиля, работу
                            с
                            аналитикой
                            и
                            другие аспекты SEO. Курсы могут быть как онлайн, так и оффлайн, в зависимости от формата
                            обучения и
                            выбора студента. Результатом обучения должны стать умения и навыки в области SEO,
                            которые
                            помогут
                            увеличить видимость сайта в поисковых системах и привлечь больше клиентов или
                            посетителей на
                            сайт.</span></div>
                </li>
                <li class="accordion">
                    <div class="collapsible-header">Ссылки на доп материал</div>
                    <div class="collapsible-body"><span></span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<div>
    <div class="section">
        <h3>WEB ДИЗАЙН</h3>
        <ul class="collapsible expandable">
            <li class="accordion">
                <div class="collapsible-header">Влияние темы на развитие ученика</div>
                <div class="collapsible-body"><span>Тема курса web дизайна может оказать существенное влияние на
                        развитие ученика, так как каждая тема имеет свои особенности, задачи и применения в практической
                        деятельности.

                        Например, если курс затрагивает тему веб-дизайна для мобильных устройств, то ученик получит
                        знания о том, как создавать удобный и функциональный дизайн для мобильных сайтов и приложений.
                        Также он научится учитывать особенности разных мобильных платформ и экранов разных размеров и
                        разрешений.</span></div>
            </li>
            <li class="accordion">
                <div class="collapsible-header">Описание модуля</div>
                <div class="collapsible-body"><span>
                        Курсы по веб-дизайну - это обучение основам создания веб-страниц и сайтов, включая работу с
                        различными
                        утилитами и языками программирования. Они обычно включают в себя элементы графического дизайна,
                        создание
                        макетов, знакомство с фреймворками, HTML, CSS, JavaScript, а также программное обеспечение для
                        создания
                        сайтов и бэкэнд-технологий.</span></div>
            </li>
            <li class="accordion">
                <div class="collapsible-header">Ссылки на доп материал</div>
                <div class="collapsible-body"><span></span></div>
            </li>
        </ul>
    </div>
</div>

<div>
    <div class="section">
        <h3>FRONTEND</h3>
        <ul class="collapsible expandable">
            <li class="accordion">
                <div class="collapsible-header">Влияние темы на развитие ученика</div>
                <div class="collapsible-body"><span>Тема курса может иметь значительное влияние на развитие ученика,
                        поскольку она может вдохновить и заинтересовать его. Если тема курса вызывает у ученика
                        эмоциональное вовлечение, то это может способствовать его участию и активному участию в
                        занятиях. Кроме того, тема может вызвать у ученика связанные с ней вопросы и интерес к
                        дополнительному изучению этой области знаний.</span></div>
            </li>
            <li class="accordion">
                <div class="collapsible-header">Описание модуля</div>
                <div class="collapsible-body"><span>
                        Frontend курсы предназначены для тех, кто хочет научиться создавать высококачественные
                        веб-приложения. Фронтенд разработка очень важна для создания веб-сайтов и приложений, так как
                        это
                        отвечает за то, каким образом пользователи будут взаимодействовать с сайтом.</span></div>
            </li>
            <li class="accordion">
                <div class="collapsible-header">Ссылки на доп материал</div>
                <div class="collapsible-body"><span></span></div>
            </li>
        </ul>
    </div>
</div>

<div>
    <div class="section">
        <h3>BACKEND</h3>
        <ul class="collapsible expandable">
            <li class="accordion">
                <div class="collapsible-header">Влияние темы на развитие ученика</div>
                <div class="collapsible-body"><span>Тема является одним из ключевых факторов, влияющих на развитие
                        ученика. Когда ученик заинтересован в теме, он становится более вовлеченным и мотивированным,
                        что позитивно влияет на его рост и развитие.

                        Изучение тем, связанных с личными интересами и увлечениями ученика, может помочь ему лучше
                        понять и освоить материал. Например, если ученика больше всего интересуют животные, он может
                        легче освоить темы, связанные с биологией и экологией.

                        Темы также могут иметь влияние на мотивацию ученика и его уверенность в своих способностях. Если
                        ученик хорошо разбирается в теме и успешно ее осваивает, это может повысить его самооценку и
                        уверенность в себе.

                        Однако, если тема не интересна ученику или ему трудно ее понимать, это может привести к его
                        отсутствию мотивации и ухудшению учебных результатов.

                        Таким образом, выбор темы имеет большое значение для развития ученика. Важно подбирать темы,
                        которые соответствуют интересам и потребностям каждого ученика, чтобы помочь им максимально
                        эффективно развиваться.


                    </span></div>
            </li>
            <li class="accordion">
                <div class="collapsible-header">Описание модуля</div>
                <div class="collapsible-body"><span> Backend курсы являются специализированными обучающими программами,
                        которые предназначены для
                        практического и теоретического изучения разработки серверной части веб-приложений. Курсы обычно
                        предоставляют полный пакет знаний, навыков и технических умений, необходимых для создания,
                        обслуживания и управления веб-приложениями, работающими на сервере.</span></div>
            </li>
            <li class="accordion">
                <div class="collapsible-header">Ссылки на доп материал</div>
                <div class="collapsible-body"><span></span></div>
            </li>
        </ul>
    </div>

</div>
</div>

{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock %}